*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Helvetica, Tahoma, Verdana, 'Trebuchet MS', Arial;
  color: #373D3F;
}

.layout {
  max-width: 100em;
  padding-right: 1.875em;
  padding-left: 1.875em;
}

.content {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 37.5em) {
  .content {
    width: 50%;
  }
}

@media screen and (min-width: 68.75em) {
  .content {
    width: 50%;
  }
}

button {
  background-color: #efefef;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 2px;
  padding: 1em;
  transition: transform 400ms;
}

button:hover {
  transform: scale(1.15)
}
input {
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  padding: 1em;
  width: 100%;
  background-color: #efefef;
  font-size: 1em;
  transition: background-color 400ms;
}
input:focus {
  border-color: #373D3F;
}
input:not(:focus):invalid {
  background-color: red;
}

.ball {
  width: 10em;
  height: 10em;
  background-color: green;
  border-radius: 50%;
  transform: scale(0.1);
  transition: transform 4000ms;
}

.ball:hover {
  transform: scale(1.0);
}
